@media screen and (max-width:1024px) {
    h3 {
        bottom: 130px;
    }
}

@media screen and (max-width : 768px) {
    main {
        width: 100%;
    }
    .about {
        padding: 4vh 10vw;
    }
    .fa-gem {
        padding: 15px;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .cards {
        width: 100%;
        height: auto;
    }
    h3 {
        position: static;
        color: black;
    }
    footer {
        margin: 5vh;
    }
    footer div {
        padding : 3vh 1%;
    }
    .reseaux {
        display: flex;
        flex-direction: column;
    }
    footer i {
        padding: 15px 0;
    }
}