@font-face {
    font-family: "Cookie";
    src: url('../fonts/Cookie-Regular.ttf');
    /*font family pour titre */
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Light.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    font-family: Lato, sans-serif;
}

span {
    border-bottom: 1px dotted;
    /* Souligner les éléments sélectionnés */
}

.bouton {
    border: 1px solid grey;
    display: inline;
    padding: 10px 20px;
    margin-top : 25px;
    /* Propriétés pour tous les boutons */
}

/* Début header */
header {
    color: white;
    text-align: center;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Cookie, sans-serif;
    font-size: 5rem;
    margin: 0;
}

header h2 {
    border-top: 1px solid white;
    padding-top: 5vh;
    font-size: 1rem;
    font-weight: normal;
}

/* Début main*/
main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* Centrer tous les textes de main*/
}

/* A propos */
.about {
    background-color: white;
    height: 50vh;
    margin: 5vh auto;
    padding: 5vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-gem {
    font-size: 50px;
    color: grey;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 50%;
}

.about p {
    line-height: 25px; /* Espace entre ligne */
}

/* Début des cards */
.card-container {
    max-width: 1300px;
    height: auto;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.cards {
    width: 500px;
    height:500px;
    margin-top: 15px;
}


main img {
    width: 100%;
}
/* Début footer */
footer {
    text-align: center;
    margin: 10vh;
}

footer div {
    padding: 4vh 30%;
}
footer hr {
    width: 10%;
}
footer i {
    padding : 0 10px;
}