@font-face {
    font-family: "Cookie";
    src: url('../fonts/Cookie-Regular.ttf');
    /*font family pour titre */
}

body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

span {
    border-bottom: 1px dotted;
}

/* Début header */
header {
    color: white;
    text-align: center;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-attachment: cover;
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Cookie, sans-serif;
    font-size: 5rem;
    margin: 0;
}

header h2  {
    border-top: 1px solid white;
    padding-top: 5vh;
}