@font-face {
    font-family: "Cookie";
    src: url('../fonts/Cookie-Regular.ttf');
    /*font family pour titre */
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Light.ttf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
    font-family: Lato, sans-serif;
}

span {
    border-bottom: 1px dotted;
    /* Souligner les éléments sélectionnés */
}

/* Début header */
header {
    color: white;
    text-align: center;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Cookie, sans-serif;
    font-size: 5rem;
    margin: 0;
    /* Propriétés pour le titre ppal */
}

header h2 {
    border-top: 1px solid white;
    padding-top: 5vh;
    font-size: 1rem;
    font-weight: normal;
    /* Propriétés pour le sous titre */
}

/* Début main*/
main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* Centrer tous les textes de main*/
}

/* A propos */
.about {
    background-color: white;
    height:auto;
    margin: 5vh 0;
    padding: 5vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-gem {
    font-size: 2rem;
    color: grey;
    border: 1px solid grey;
    border-radius: 50%;
    padding: 25px; /* pour que la bordure ne touche pas l'icone */
}


.about p {
    line-height: 25px; /* Espace entre ligne du p */
}

/* Début des cards */
.card-container {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.cards {
    background-color: white;
    width: 49%;
}

button {
    background-color: white;
    border: 1px solid grey;
    display: inline;
    padding: 10px 20px;
    margin-bottom:30px;
    /* Propriétés pour tous les boutons */
}

.cards p:first-child {
    padding: 20px 10px;
}
.img {
    position: relative;
}
h3 {
    position: absolute;
    top: 40%;
    left: 35%;
    color: white;
    /* z-index: 9999; */
}

main img {
    width: 100%; /* pour que l'image prenne 100% de sa div */
}

/* Début footer */
footer {
    text-align: center;
    margin: 10vh;
}

footer div {
    padding: 4vh 20%;
}
footer hr {
    width: 10%;
}
footer i {
    padding : 0 10px;
}